<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Admin Dashboard</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <!-- Dropdown Requests -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="requestsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Requests
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="requestsDropdown">
                        <li>
                            <NavLink class="dropdown-item" href="/admin/requests/requests-overview">
                                Request Dashboard
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/admin/requests/upgrade-owner">
                                Upgrade to Owner
                            </NavLink>
                        </li>
                        <!-- sau này thêm Hotel Approval -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>