<footer class="footer text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="fw-bold">Hotel Booking</h5>
                <p>Đặt phòng khách sạn dễ dàng, nhanh chóng với trải nghiệm tuyệt vời.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="fw-bold">Liên hệ</h5>
                <p>Email: <a href="mailto:support@hotelbooking.com">support@hotelbooking.com</a></p>
                <p>Hotline: <a href="tel:19001234">1900 1234</a></p>
            </div>
            <div class="col-md-4">
                <h5 class="fw-bold">Theo dõi chúng tôi</h5>
                <div class="social-icons">
                    <a href="#" class="text-warning"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-warning"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-warning"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <p class="text-center mt-4 mb-0">&copy; 2025 Hotel Booking. All rights reserved.</p>
    </div>
</footer>
