@using HotelBooking.webapp.Services
@using HotelBooking.webapp.ViewModels.Admin
@using OneOf.Types
@using TagLib.Ape
@inject HotelFormState FormState

<MudForm @ref="_form" Class="pa-2">

    <h2 class="text-primary mb-4">Configure Hotel Policies</h2>

    @if (FormState.IsLoading)
    {
        <p><em>Loading all policies...</em></p>
    }
    else
    {
        <div classclass="row">
            @foreach (var group in FormState.PolicyGroups)
            {
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="mb-2"><strong>@group.PolicyType.Name</strong></label>

                        @if (group.AvailablePolicies == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                            <select class="form-control" @bind="group.SelectedPolicyId">
                                <option value="0">-- Select @group.PolicyType.Name --</option>
                                @foreach (var policy in group.AvailablePolicies)
                                {
                                    <option value="@policy.Id">@policy.Name</option>
                                }
                            </select>
                        }
                    </div>
                </div>
            }
        </div>
    }

    @* @if (!FormState.PolicyGroups.Any())
        {
        <MudText Color="Color.Error">Please select at least 1 policy</MudText>
        } *@
</MudForm>


@code {
    public MudForm? _form;
    protected override async Task OnInitializedAsync()
    {
        FormState.OnChange += StateHasChanged;

        // Request State to load data (only load if list is empty)
        if (FormState.PolicyGroups.Count == 0)
        {
            await FormState.LoadPolicies();
        }
    }

    public void Dispose()
    {
        FormState.OnChange -= StateHasChanged;
    }


    public class PolicyTypeGroupVM
    {
        public PolicyTypeVM PolicyType = new();
        public List<PolicyVM>? AvailablePolicies { get; set; }
        public int SelectedPolicyId { get; set; }
    }
}