@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />

<div class="main">
    <Header />
    <main class="page-content">
        @Body
    </main>
    <Footer />
    
</div>


